#welcome{
 text-align: center;
 background-color: rgb(25,50,65);
 margin-left: 50px;
}

body{
    background-color:lightslategray;
}

#description{
    background-color:khaki;
}

#app{
    background-color:cadetblue;
}
