body {
    background-image: url("./images/niceBack2.jpg");
}


#here{
  height:375px;
  width: auto;
  margin: 60px;

}

#hello {
    text-align: center;
    height: 100px;
    font-weight: 900;
    
    
}