#welcome{
 text-align: center;
 background-color: rgb(77, 170, 227);

}

body{
    background-color:lightslategray;
}

#description{
    background-color:khaki;
}

#app{
    background-color:cadetblue;
}
